/* use https://www.sassmeister.com/ for css conversion */
/* Base styling */
body {
    background-color: #f4f4f4;
  }
  
  h1 {
    color: black;
  }
  
  /* Additional styles */
  /* Animation for completed tasks */
  .task-done {
    opacity: 0.5;
    /* Reduces opacity for completed tasks */
    transition: opacity 0.3s ease-in-out;
  }
  
  /* Highlight effect for the "Remove Task" button on hover */
  .delete:hover {
    background-color: #ff0000;
    /* Change the background color to red on hover */
    color: #fff;
    /* Change the text color to white on hover */
    transform: scale(1.05);
    /* Increase the button size by 5% on hover */
    transition: all 0.3s ease-in-out;
    /* Add a smooth transition effect */
  }
  
  /* Reset opacity for the "Remove Task" button on hover */
  .delete:hover span {
    opacity: 1;
    /* Reset the opacity to 1 (normal) on hover */
    transition: opacity 0.1s ease-in-out;
    /* Add a smooth transition effect */
  }